@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #eee;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0 40px rgba(0, 0, 0, 0.1);
}


.photo {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.photo-img {
    background: url('../img/photo-1522206024047-9c925421675b.jpg') no-repeat center center /cover;
    height: 100vh;
    flex: 0 1 60vw;
}

.photo .title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1rem;

}

.photo .text {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    padding-bottom: 1rem;
}

.btn-outline {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #333;
    background: transparent;
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    text-align: center;
    margin: 20px auto;
    transition: 0.5s;
    font-size: 1rem;
}

.btn-outline:hover {
    background: #f4f4f4;
}

.photo-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 1 40vw;
    margin: 20px;
}

/* Work */

.work {
    background: #333;
    padding: 1.2rem;
    text-align: center;
    color: #fff;
}

.work .title {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.3rem;
    font-weight: 600;
    border-right: 1px dotted #fff;
    border-left: 1px dotted #fff;
}

img {
    width: 100%;
}

.photo-1 div {
    text-align: center;
}

.photo-1 .title {
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 30px;
}

.photo-1 p {
    padding-bottom: 30px;
}

/* Footer */

footer {
    margin: 5rem 0 2rem;
    text-align: center;
    color: #333;
}

footer p {
    padding: 10px;
}

footer .title {
    font-size: 3rem;
    font-weight: 600;
}

footer span {
    font-weight: 600;
}

/* Media Quires */

@media(max-width: 568px) {
    .photo {
        display: block;
    }

    .photo-img {
        width: 100vw;
        height: 700px;
    }

}